---
import Sprite from "astro-iconify";
import { TIMELINE_ICONS } from "../../constants";
import { useConstants } from "../../libs/use-constants";
import { COLOR, SPACING, FONT_SIZE } from "../../constants";

type TimelineType = {
  slug: string;
  title: string;
  icon: "home" | "event" | "career" | "writing" | "development";
}[];
const types: TimelineType = [
  {
    slug: "",
    title: "すべて",
    icon: "home",
  },
  {
    slug: "event",
    title: "イベント・登壇",
    icon: "event",
  },
  {
    slug: "career",
    title: "キャリア",
    icon: "career",
  },
  {
    slug: "writing",
    title: "書いたもの",
    icon: "writing",
  },
  {
    slug: "development",
    title: "作ったもの",
    icon: "development",
  },
];
const ICON_SIZE = 26;
const { pathname } = Astro.url;
---

<ul>
  {
    types.map((type) => (
      <li class:list={[pathname === `/${type.slug}` ? "current" : ""]}>
        <a href={`/${type.slug}`}>
          <Sprite
            name={TIMELINE_ICONS[type.icon]}
            width={ICON_SIZE}
            height={ICON_SIZE}
            fill='currentcolor'
          />
          <span>{type.title}</span>
        </a>
      </li>
    ))
  }
</ul>

<style define:vars={useConstants({ COLOR, SPACING, FONT_SIZE })}>
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--SPACING_PX20);
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    box-sizing: border-box;
    & > a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--COLOR_GRAY600);
      font-size: var(--FONT_SIZE_PX12);
      text-decoration: none;
    }
    & > a:visited {
      color: var(--COLOR_GRAY600);
    }
  }
  li.current {
    border-bottom: 1px solid var(--COLOR_CAUTION_DEFAULT);
  }
</style>
