---
import { useConstants } from "../../libs/use-constants";
import { COLOR, SPACING, FONT_SIZE } from "../../constants";
import type { CollectionEntry } from "astro:content";
import Item from "./timeline/item.astro";
import { formatDate, getDayDiff } from "../../libs/date";
import image from "../../assets/nakano.webp";
import { Icon } from "astro-iconify";
import { Image } from "astro:assets";
import IconOuter from "./timeline/icon-outer.astro";
const IMG_SIZE = "120px";
const ICON_SIZE = "26px";
const birthday = new Date("1997-12-29");

interface Props {
  events: CollectionEntry<"events">[];
}
const { events } = Astro.props;
---

<div class='container'>
  <Image src={image} class='img' alt='profile image' width={120} height={120} />
  <ul class='timeline'>
    {
      events.map(({ data: { title, at, date, type }, slug }, index) => {
        const position = index % 2 === 0 ? "right" : "left";
        const prevEventDate =
          events[index + 1]?.data?.date ?? new Date(birthday);
        const dayDiff = getDayDiff(date, prevEventDate);

        return (
          <Item
            dayDiff={dayDiff}
            position={position}
            title={title}
            type={type}
            at={at}
            link={`events/${slug}`}
            date={date}
          />
        );
      })
    }
    <li class='birthday'>
      <IconOuter size='26px'>
        <Icon
          name='mdi:birthday-cake'
          width={14}
          height={14}
          fill='currentcolor'
        />
      </IconOuter>
      <time>{formatDate(birthday)}</time>
    </li>
  </ul>
  <style
    define:vars={{
      ...useConstants({ COLOR, SPACING, FONT_SIZE }),
      IMG_SIZE,
      ICON_SIZE,
    }}
  >
    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .img {
      border-radius: 100%;
      display: block;
      border: 1px solid var(--COLOR_GRAY500);
    }
    .timeline {
      padding: var(--SPACING_PX100) 0 0 0;
      border-left: 1px solid var(--COLOR_GRAY500);
      align-self: stretch;
      margin: 0 0 0 50%;
      position: relative;
    }
    .birthday {
      list-style: none;
      margin-left: calc(-1 * var(--ICON_SIZE) / 2);
      display: flex;
      align-items: center;
      gap: var(--SPACING_PX8);
      position: relative;
      top: 5px;
    }
    .birthday > time {
      font-size: var(--FONT_SIZE_PX12);
    }
  </style>
</div>
