---
import { useConstants } from "../../libs/use-constants";
import { COLOR, SPACING, FONT_SIZE } from "../../constants";
import { getCollection } from "astro:content";
import Item from "./timeline/item.astro";
const IMG_SIZE = "120px";
const BIRTHDAY_SIZE = "12px";

interface Frontmatter {
  at: string;
  type: string;
  link: string;
  date: string;
}
const events = await getCollection("events");
---

<div class='container'>
  <img src='./nakano.avif' class='img' />
  <ul class='timeline'>
    {
      events.map(({ data: { title, at, date }, slug }, index) => {
        const position = index % 2 === 0 ? "right" : "left";
        return (
          <Item
            position={position}
            title={title}
            at={at}
            link={`events/${slug}`}
            date={date}
          />
        );
      })
    }
    <li class='birthday'>
      <span></span>
      <time>1997-12-29</time>
    </li>
  </ul>
</div>
<style
  define:vars={{
    ...useConstants({ COLOR, SPACING, FONT_SIZE }),
    IMG_SIZE,
    BIRTHDAY_SIZE,
  }}
>
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img {
    border-radius: 100%;
    width: var(--IMG_SIZE);
    display: block;
    border: 1px solid var(--COLOR_GRAY500);
  }
  .timeline {
    padding: var(--SPACING_PX100) 0 0 0;
    border-left: 1px solid var(--COLOR_GRAY500);
    align-self: stretch;
    margin: 0 0 0 50%;
    position: relative;
  }
  .birthday {
    list-style: none;
    margin-left: calc(-1 * var(--BIRTHDAY_SIZE) / 2);
    display: flex;
    align-items: center;
    gap: var(--SPACING_PX8);
    position: relative;
    top: 5px;
  }
  .birthday > span {
    box-sizing: border-box;
    background-color: var(--COLOR_GRAY200);
    width: var(--BIRTHDAY_SIZE);
    height: var(--BIRTHDAY_SIZE);
    display: block;
    border: 1px solid var(--COLOR_GRAY500);
    border-radius: 100%;
  }
  .birthday > time {
    font-size: var(--FONT_SIZE_PX12);
  }
</style>
