---
import { useConstants } from "../../libs/use-constants";
import { COLOR, SPACING, FONT_SIZE } from "../../constants";
import { getCollection } from "astro:content";
import Item from "./timeline/item.astro";
import { formatDate, getDayDiff } from "../../libs/date";
const IMG_SIZE = "120px";
const BIRTHDAY_SIZE = "12px";
const birthday = new Date("1997-12-29");
const events = await getCollection("events").then((ev) =>
  ev.sort(
    ({ data: { date: a } }, { data: { date: b } }) => b.getTime() - a.getTime()
  )
);
---

<div class='container'>
  <img src='./nakano.avif' class='img' />
  <ul class='timeline'>
    {
      events.map(({ data: { title, at, date, type }, slug }, index) => {
        const position = index % 2 === 0 ? "right" : "left";
        const prevEventDate =
          events[index + 1]?.data?.date ?? new Date(birthday);
        const dayDiff = getDayDiff(date, prevEventDate);

        return (
          <Item
            dayDiff={dayDiff}
            position={position}
            title={title}
            type={type}
            at={at}
            link={`events/${slug}`}
            date={date}
          />
        );
      })
    }
    <li class='birthday'>
      <span></span>
      <time>{formatDate(birthday)}</time>
    </li>
  </ul>
</div>
<style
  define:vars={{
    ...useConstants({ COLOR, SPACING, FONT_SIZE }),
    IMG_SIZE,
    BIRTHDAY_SIZE,
  }}
>
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--SPACING_PX100);
  }
  .img {
    border-radius: 100%;
    width: var(--IMG_SIZE);
    display: block;
    border: 1px solid var(--COLOR_GRAY500);
  }
  .timeline {
    padding: var(--SPACING_PX100) 0 0 0;
    border-left: 1px solid var(--COLOR_GRAY500);
    align-self: stretch;
    margin: 0 0 0 50%;
    position: relative;
  }
  .birthday {
    list-style: none;
    margin-left: calc(-1 * var(--BIRTHDAY_SIZE) / 2);
    display: flex;
    align-items: center;
    gap: var(--SPACING_PX8);
    position: relative;
    top: 5px;
  }
  .birthday > span {
    box-sizing: border-box;
    background-color: var(--COLOR_GRAY200);
    width: var(--BIRTHDAY_SIZE);
    height: var(--BIRTHDAY_SIZE);
    display: block;
    border: 1px solid var(--COLOR_GRAY500);
    border-radius: 100%;
  }
  .birthday > time {
    font-size: var(--FONT_SIZE_PX12);
  }
</style>
